<p>Simple button click event!!</p>

<button type="button" id="btn_click" (click)="click()">Click Me</button>
<p>{{result}}</p>

<div>
<input type="text" [(ngModel)]="value">
<button type="button" (click)="inc()">Add</button>
</div>


<div style="margin-top: 15px;">
    <button type="button" (click)="minus()" [disabled]="flag"><i class="fa fa-minus-circle fa-3x" aria-hidden="true"></i></button>
    <input type="number" [(ngModel)]="quantity">
    <button type="button" (click)="plus()"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></button>
</div>