<nav>
    <a routerLinkActive="active-link" routerLink="/home">Angular Learning</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/viewemployee">View Employee</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/employees">Employees</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/login">Login</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/editemployee_tdf">Edit Employee[Template]</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/editemployee_rcf">Edit Employee[Reactive]</a> 
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/increment">Increment</a>
    <span>&nbsp;&nbsp;</span>
</nav>
